<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
   <link rel="stylesheet" href="<%=url%>/src/output.css">
</head>
<body class="bg-red-400">
  <h1 class="text-3xl font-bold underline">
    Hello worlddefrgd!
    <div class="w-200 bg-red-300 text-red-600">GESTUeretty</div>
    <div></div>
    <div></div>
  </h1>
</body>
</html>