<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
   <link rel="stylesheet" href="<%=url%>/src/output.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
      <!-- <link rel="stylesheet" href="<%=url%>/src/output.css"> -->
       <title>Gesture Voices</title>
      <style>
       *{
         margin: 0;
         font-family: 'Inika',serif;
         box-sizing: border-box;
         /* background-color: #194147; */
         /* padding: 0; */
       }
       /* Hide the default scrollbar */
::-webkit-scrollbar {
  display: none;
}
       .bg-col{
        @apply background-color;
        background-color: #194147;
       }

       .card {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

       }
       .custom-filter {
               @apply filter;
               filter: invert(48%) sepia(51%) saturate(604%) hue-rotate(125deg) brightness(93%) contrast(96%);
           }
           .filter{
            @apply filter;
            filter:invert(1);
           }

           .border-col{
             @apply border;
             border:2px solid #008080;
           }
           .colr{
             @apply color;
             color:#008080;
           }
           .wrc{
             @apply color;
             color: #C39B3A;
   
           }
           .bgc{
             @apply background-color;
             background-color: #008080;
           }
           .br{
             @apply border-radius;
             border-radius: 40%;
           }
           .cr{
             @apply border-radius;
             border-radius: 8%;
           }
           .mainbody{
             @apply background-color;
             background-color:#f6f6f6;
           }
           section input::placeholder,section textarea::placeholder{
             color:#008080;
             font-size: 20px;
           }

           .search-b{
            @apply border;
            border: 1px solid #194147;
           }
      </style>
   </head>
   <body class="m-0 p-0 bg-col">
     <!-- w-5/6 -->
     <header class="  flex justify-around lg:justify-evenly py-5 mx-auto mb-5 bg-col w-full specfic-size:bg-red-500">
        <div class="bo flex justify-between space-x-0 xl:space-x-20 md:space-x-10 w-auto">
            <img class=" w-[120px] h-[120px] md:w-[150px] md:h-[150px]  lg:w-[200px] lg:h-[200px]  rounded-full" src="./images/img1.png" alt="logo">
        </div>
         
            <img class=" w-[98px] h-[78px] lg:w-[118px] lg:h-[98px] my-auto hidden lg:block filter" src="./images/hand_1-c.png" alt="">
            <img class=" w-[87px] h-[148px] my-auto hidden lg:block filter" src="./images/hand_2-c.png" alt="">
        

         
         <div class="  bg-col  w-[60%] sm:w-[70%] lg:w-[50%] 2xl:w-[60%] relative items-start">
         <nav class="bg-col  right-0 mr-0 w-[200px] md:w-[60%] lg:w-[70%] mx-auto text-md my-auto shadow-xl rounded-lg md:shadow-none md:rounded-none absolute  md:relative hidden md:block">
           <ul class="bg-col space-y-3 md:space-y-0 md:flex md:flex-row md:flex-wrap justify-between lg:justify-around md:space-x-2 lg:space-x-2 xl:space-x-5 space-x-0 font-bold font-mono p-2">
             <li class="my-auto colr cursor-pointer  hover:text-teal-400"><a class="" href="/AboutUs">About Us</a></li>
            
             <li class="my-auto colr cursor-pointer  hover:text-teal-400 content-center"><a href="#">Blog</a></li>
             <li class="my-auto colr cursor-pointer  hover:text-teal-400 content-center"><a href="/help">Help</a></li>
             <ul class="cursor-pointer  flex justify-between bg-green  w-[140px] md:w-[45%] lg:w-[150px]  xl:w-[165px] px-4 py-2 rounded-full text-gray-200 bgc underline hover:bg-teal-600">
             <li class="cursor-pointer "><a href="/login">Login</a></li>
             <li>|</li>
             <li class="cursor-pointer"><a href="/signup">Sign Up</a></li>
           </ul>
           </ul>
         </nav>
                 <!-- //hamburger -->
                 <div id="hambg">
                   <img src="./images/hamburger.png"  class="rounded-lg cursor-pointer h-12 block md:hidden absolute top-4 right-6" alt="">
                 </div>
     <div class="font-bold md:text-2xl lg:text-3xl xl:text-4xl w-[450px] mx-auto text-center wrc text-wrap  relative top-8 md:left-[12%] lg:left-[5%] xl:left-[25%] lg:top-12 text-6xl hidden md:block">
      “Where Gestures Speak and Voices Connect”
     </div>
     </div>
   </header>
   <!-- search bar -->
    <form action="" method="POST" class=" h-[160px] bg-col flex items-center">
     <div class="search-b w-[89%] flex h-[70px] mx-auto py-2 px-2 justify-center rounded-full bg-white  space-x-2 shadow-xl focus:border-col">
       <div class="   flex items-center justify-center">
         <img  src="./images/search.png" class="w-[100%] h-8 custom-filter" alt="">
       </div>
       <input class=" w-[86%] text-2xl focus:outline-none " type="search" placeholder="search..">
       <button type="submit" class="text-xl text-gray-200 bgc w-40 rounded-full cursor-pointer hover:bg-teal-600">search</button>
     </div>
    </form>
   
   
   <!-- <hr class="mt-10"> -->
   <div class=" py-2 md:py-10 bg-col ">
     <section class=" flex flex-wrap justify-center h-auto mb-5 md:mb-10 lg:mb-5">
       <div class=" mt-10 md:mt-20 text-2xl text-wrap sm:text-4xl lg:text-6xl wrc font-semibold space-y-5 w-[75%] md:w-[42%] h-[20%]   text-center lg:text-start leading-normal mb-0 md:mb-20 mx-auto">
         "Unlock the power of silent communication. Learn, gesture, and connect with confidence."
       </div>
       <div class=" bg-white cr card p-4 max-w-sm mt-10 mx-5 md:mx-auto">
         <a href="/tutorials" class="text-2xl font-bold text-teal-500 underline">Hand Sign Language Tutorial</a>
         <img src="./images/card1.jpeg" class="w-full h-48 rounded-md object-cover mt-5 mb-5" alt="">
         
         <p class="text-gray-700 mb-4">Learn the basics of Indian Sign Language (ISL) through easy-to-follow tutorials. Master essential gestures and communicate effectively using visual language</p>
         <a href="/tutorials" class="inline-flex items-center px-4 py-2 bg-teal-500 text-white font-medium rounded-md hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-200">Learn more</a>
     </div>
     </section>
   
     <section class=" flex flex-wrap-reverse justify-evenly h-auto ">
       <div class="bg-white cr shadow-xl p-6 max-w-sm mx-5 md:mx-auto h-auto">
         <a href="/translation" class="text-2xl font-bold text-teal-500 mb-4 underline ">Sign-to-Speech</a>
         <img src="./images/card2.png" alt="Sign-to-Speech Illustration" class="mx-auto mb-5 mt-5 w-90 h-90 object-cover">
         <p class="text-gray-700 mb-4">Convert hand signs into text or spoken words instantly. This tool bridges the gap between sign language users and those who communicate through voice or text.</p>
         <a href="/translation" class="bg-yellow-400 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded inline-flex items-center">
         Learn more
         </a></div>
   
       <div class=" mt-20 md:mt-60  text-2xl text-wrap sm:text-4xl lg:text-6xl text-gray-200 font-semibold w-[70%] md:w-[42%] h-[20%]  text-center lg:text-end leading-normal mb-20 mx-auto">
         "Where every gesture finds its voice."
       </div>
     </section>
   </div>
   
   
   <section class="bg-col h-[900px] flex flex-col justify-center space-y-10 text-center">
     <img class="w-[80%] h-[563px] mx-auto object-cover" src="./images/big.png" alt="">
     <h2 class="font-bold wrc text-2xl text-wrap sm:text-4xl md:text-5xl  lg:text-7xl ">"Bridging the Communication Gap"</h2>
   </section>
   
   
   
   <hr>
   <section class=" bg-col  h-auto flex flex-wrap justify-between lg:justify-evenly py-10 border border-black">
       <div class="p-4 sm:w-[260px] lg:w-[300px] xl:w-[350px] flex flex-col items-start space-y-3">
         <h2 class="font-bold text-white text-lg sm:text-xl mr-[25%]">CONTACT US :</h2>
         <div class="flex space-x-5">
           <ul class="list none space-y-5 h-[150px] pt-1 md:pt-4">
             <li><img class="w-6 h-6  sm:w-8 sm:h-8 lg:w-10 lg:h-10" src="./images/fb.png" alt=""></li>
             <li><img class="w-6 h-6  sm:w-8 sm:h-8 lg:w-10 lg:h-10" src="./images/insta.png" alt=""></li>
             <li><img class="w-6 h-6  sm:w-8 sm:h-8 lg:w-10 lg:h-10" src="./images/linkedin.png" alt=""></li>
           </ul>
         <img class=" w-[120px] h-[120px] sm:w-[150px] sm:h-[150px]  lg:w-[200px] lg:h-[200px]  rounded-full" src="./images/img1.png" alt="logo">
       </div>
       </div>
       <div class=" p-4 w-[250px] md:w-[300px] xl:w-[350px] flex flex-col items-start justify-center space-y-5 text-lg sm:text-xl text-gray-200 font-normal my-5">
         <p>Address - XJkfw3425#%r</p>
         <p>Telephone - 987568568</p>
         <p>Email - ISLT@gmail.com</p>
       </div>
       <div class="  w-[100%] lg:w-[300px] xl:w-[350px] p-4">
         <form class="space-y-5 flex flex-col items-end" action="" method="post">
         <h2 class="font-bold text-white text-lg sm:text-xl w-[100%]">FEEDBACK :</h2>
         <input class="rounded-lg block p-2 w-[100%]" type="email"  placeholder="Email">
           <textarea rows=4 class="w-[100%] resize-none rounded-lg px-2 border border-gray-300 focus:outline-none focus:ring focus:ring-blue-500 focus:ring-opacity-50" placeholder="Review"></textarea>
           <div class="flex items-center w-full">
               <button type="submit" class=" bg-yellow-600 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                   Submit
               </button>
           </div>
         </form>
       </div>
   </section>
   
   
   <script src="./script.js"></script>
   </body>
   </html>