<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesture Voices</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="<%=url%>/src/output.css">
</head>
<style>
    .colr{
      @apply background-color;
      background-color:#008080;
    }
</style>
<body>
    <div class=" text-white text-end fm underline font-bold text-4xl text-end colr pt-4 pr-20 hover:text-gray-200 cursor-pointer mb-[2rem]"><a href="/home">HOME</a></div>
</body>
</html>