<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesture Voices</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="<%=url%>/src/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .bgc{
             @apply background-color;
             background-color: #008080;
           }
   .fri{
    @apply font-family;
    font-family:'Inika',serif;
   }
   .fm{
    @apply font-family;
    font-family:'Inria',serif;
   }
   .colr{
      @apply background-color;
      background-color:#008080;
    }
    .comment-colr{
        @apply background-color;
        background-color: #d9d9d9;
    }
    .br{
        @apply border-radius;
        border-radius: 10%;
    }
</style>
<body>
    <div class=" text-white text-end fm underline font-bold text-4xl colr py-2 pr-10 hover:text-gray-200 cursor-pointer mb-[2rem]"><a href="/home">HOME</a></div>
    <section class=" w-[100%] mx-auto pb-20 mb-4">
        <div class=" w-[100%] h-[250px] flex flex-wrap items-center justify-evenly colr mx-auto">
            <img src="./images/img1.png" class="border-2 border-white rounded-full object-cover  w-[150px] h-[150px] md:w-[200px] md:h-[200px] lg:w-[200px] lg:h-[200px]" alt="">
            <div class=" w-[60%]  text-center "><p class="text-4xl  lg:text-6xl 2xl:text-7xl font-serif font-medium text-wrap text-white leading-snug ">Sign-to-Text/ Voice Converter</p></div>
        </div>
        <div class=" w-[100%] mx-auto mt-10"><img src="./images/video_img.jpeg" class="rounded-lg shadow-xl mx-auto w-[86.5%] object-cover min-h-[200px]  max-h-[660px]" alt=""></div>
        <div class=" mt-10 px-[6.5%]">
            <p class="fri font-bold text-6xl">Translation:</p>
            <div class="rounded-tl-lg rounded-tr-lg flex fri font-normal text-4xl justify-between px-4 mt-5 py-2 comment-colr">
                <p>English</p>
                <p>Voice</p>
            </div>
            <div class=" comment-colr rounded-bl-lg rounded-br-lg"><textarea name="Translation-area" class="mb-0 resize-none focus:outline-none comment-colr p-4 w-[100%] h-[250px]"  placeholder="Enter your view...." id=""></textarea></div>
        </div>
    </section>


    

    <section class=" mt-20 bgc  h-[300px] flex flex-wrap justify-center pt-4">
        <div class="  md:basis-1/4 flex flex-col items-center space-y-3">
          <h2 class="font-bold text-white text-lg sm:text-xl mr-[25%]">CONTACT US :</h2>
          <div class="flex">
            <ul class="list none space-y-3 h-[150px]  mt-3 lg:mt-5">
              <li><img class="w-6 h-6  sm:w-8 sm:h-8 lg:w-10 lg:h-10" src="./images/fb.png" alt=""></li>
              <li><img class="w-6 h-6  sm:w-8 sm:h-8 lg:w-10 lg:h-10" src="./images/insta.png" alt=""></li>
              <li><img class="w-6 h-6  sm:w-8 sm:h-8 lg:w-10 lg:h-10" src="./images/linkedin.png" alt=""></li>
            </ul>
          <img class=" w-[120px] h-[120px] sm:w-[150px] sm:h-[150px]  lg:w-[200px] lg:h-[200px]  br" src="./images/img1.png" alt="logo">
        </div>
        </div>
        <div class="  basis-1/3 md:basis-1/2 flex flex-col items-center md:items-start justify-center space-y-5 text-lg sm:text-xl text-gray-200 font-normal mb-10">
          <p>Address - XJkfw3425#%r</p>
          <p>Telephone - 987568568</p>
          <p>Email - ISLT@gmail.com</p>
        </div>
        <div class=" basis-1/3 md:basis-1/4">
          <form class="space-y-5" action="" method="post">
          <h2 class="font-bold text-white text-lg sm:text-xl">FEEDBACK :</h2>
          <input class="rounded-lg block p-2 w-[70%]" type="email"  placeholder="Email">
            <textarea rows=4 class="w-[70%] resize-none rounded-lg px-2 border border-gray-300 focus:outline-none focus:ring focus:ring-blue-500 focus:ring-opacity-50" placeholder="Review"></textarea>
            <div class="flex items-cente">
                <button type="submit" class="bg-yellow-600 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Submit
                </button>
            </div>
          </form>
        </div>
    </section>
</body>
</html>