<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <script src="https://cdn.tailwindcss.com"></script> -->
   <link rel="stylesheet" href="<%=url%>/src/output.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .colr{
      @apply background-color;
      background-color:#008080;
    }
    .fri{
      @apply font-family;
      font-family: 'Inria serif'
    }
    .pop{
      @apply font-family;
      font-family: "Poppins",sans-serif
    }
    .customColr{
        @apply background-color;
        background-color: #008080;
    }
    .fm{
        @apply font-family;
        font-family: 'Inika',serif;

    }
    .br{
      @apply border-radius;
      border-radius: 8%;
    }
     .br1{
      @apply border-radius;
      border-radius: 10%;
    } 
    .br2{
        @apply border-radius;
        border-radius: 3%;
    }
   </style>
    <title>Gesture Voices</title>
</head>
<body class="colr">
    <div class=" text-white text-end fm underline font-bold text-4xl text-end colr pt-4 pr-20 hover:text-gray-200 cursor-pointer mb-[2rem]"><a href="/home">HOME</a></div>
    <section class="border-2 border-white  br2  w-[78%] mx-auto h-auto flex justify-center py-10 relative flex-wrap px-10">
      <img src="./images/img1.png" class="absolute w-[150px] h-[150px] top-[-6%] left-[-8%] specfic-size:w-[360px]  specfic-size:h-[360px] specfic-size:top-[38%] specfic-size:left-[20%]  2xl:left-[22%] rounded-full" alt="">
      <div class=" text-white font-bold text-5xl fri w-[450px] py-10 text-center leading-snug mb-10"><p>"Where Gestures Speak and Voices Connect"</p></div>
      <div class=" justify-center bg-white w-[600px] h-[100%] flex flex-col items-center br1 lg:br py-20">
        <h1 class="text-2xl lg:text-3xl font-bold text-gray-800 mb-8">Create Account</h1>

        <div class=" flex space-x-4 mb-0 lg:mb-8 flex-wrap justify-center">
            <button class="  bg-white mb-8 hover:bg-gray-100 text-gray-500 font-semibold pop py-2 px-4 rounded-lg border border-gray-500">
                <img src="./images/google.png" class="inline-block w-4 h-4 mr-2" alt="">
                Sign up with google  
            </button>
            <button class="bg-white mb-8 hover:bg-gray-100 text-gray-500 pop font-semibold py-2 px-4 rounded-lg border border-gray-500">
                <img src="./images/fb.png" class="inline-block w-4 h-4 mr-2" alt="">
                Sign up with Facebook
            </button>
        </div>

        <div class="text-gray-600 text-center mb-6">- OR -</div>

        <form  action="/user/signup" method="post" class="w-[50%]">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="full_name">
                    Full name
                </label>
                <input class=" border-none shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="full_name" type="text" placeholder="Enter your full name">
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email Address
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Enter your email">
            </div>

            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Enter your password">
            </div>

            <div class="flex items-center justify-between border ">
                <button type="submit" class =" active:bg-teal-700  bg-teal-500 hover:bg-green-600 w-full rounded-lg text-white font-bold py-2 px-4  focus:outline-none focus:shadow-outline">
                    Create Account
                </button>
            </div>
        </form>

        <p class="text-gray-600 text-center">Already have an account? <a href="/login" class="underline text-blue-500">Login</a></p>
    </div>
    </section>
</body>
</html>